.controls {
  position: relative;
}

.control {
  box-sizing: border-box;
  width: 22px;
  display: inline-block;
  background-color: #fff;
  border-width: 2px;
  border-style: solid;
  border-top-color: #ddd;
  border-left-color: #ddd;
  border-bottom-color: #333;
  border-right-color: #333;
  cursor: pointer;
  text-align: center;

  &:hover {
    background-color: #eee;
  }

  &:active {
    border-top-color: #333;
    border-left-color: #333;
    border-bottom-color: #ddd;
    border-right-color: #ddd;
  }
}

.forward {
  position: absolute;
  top: 20px;
  left: 44px;
}

.backward {
  position: absolute;
  top: 44px;
  left: 44px;
}

.strafeLeft {
  position: absolute;
  top: 44px;
  left: 20px;
}

.strafeRight {
  position: absolute;
  top: 44px;
  left: 68px;
}

.rotateLeft {
  position: absolute;
  top: 80px;
  left: 32px;
}

.rotateRight {
  position: absolute;
  top: 80px;
  left: 56px;
}

.restart {
  position: absolute;
  top: 20px;
  left: 140px;
  width: auto;
  padding: 0 10px;
  font-weight: bold;
}
