.game {
}

.canvas {
  display: inline-block;
  vertical-align: top;
}

.previewAndControls {
  display: inline-block;
  vertical-align: top;
}

.preview {

}

.controls {

}

.levelFinished {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center;
  padding-top: 100px;
}

.loadNextButton {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

.gameFinished {
  text-align: center;
  color: #fff;
  font-size: 50px;
  padding-top: 150px;
}
