$cellWidth: 30px;

:export {
  cellWitdth: $cellWidth;
}

.preview {
  position: relative;
}

.rows {

}

.row {

}

.cell {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: bottom;
  width: $cellWidth;
  height: $cellWidth;
}

.cellEmpty {
  width: $cellWidth;
  height: $cellWidth;
}

.cellWall {
  width: $cellWidth;
  height: $cellWidth;
  background-color: #5f451d;
}

.cellBox {
  box-sizing: border-box;
  width: $cellWidth;
  height: $cellWidth;
  border: 3px solid #a30bb5;
}

.cellEndPoint {
  position: relative;
  width: $cellWidth;
  height: $cellWidth;

  &:before {
    content: '';
    position: absolute;
    top: calc($cellWidth / 2 - 3px);
    left: calc($cellWidth / 2 - 3px);
    width: 6px;
    height: 6px;
    background-color: #ffe214;
  }
}

.cellBoxOnEndPoint {
  box-sizing: border-box;
  position: relative;
  width: $cellWidth;
  height: $cellWidth;
  border: 3px solid #ffb714;

  &:before {
    content: '';
    position: absolute;
    top: calc($cellWidth / 2 - 6px);
    left: calc($cellWidth / 2 - 6px);
    width: 6px;
    height: 6px;
    background-color: #ffe214;
  }
}

.player {
  position: absolute;
  display: inline-block;
  width: $cellWidth;
  height: $cellWidth;
  line-height: $cellWidth;
  text-align: center;
  color: #fff;

  &_left {
    transform: rotate(270deg);
  }

  &_bottom {
    transform: rotate(180deg);
  }

  &_right {
    transform: rotate(90deg);
  }
}
