doctype html
html
  head
    meta(charset='utf-8')
    link(rel='shortcut icon', href='/static/favicon.png', type='image/png')
    title Sokoban 3d

  body
    div#app
    script(src='/build/bundle.js')
